// THE FONTS
/* general site police */
@font-face {
    font-family: 'quick';
    src: url(../font/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'qblod';
    src: url(../font/Quicksand-Bold.ttf);
}