.div_register {
    margin-top: 40px;
    text-align: center;

    h2 {
        margin-bottom: 10px;
    }

    .formregister {
        text-align: left;
        padding: 60px;
        border: 4px solid $fund;
        margin: 40px auto;
        width: 650px;
        border-radius: 10px;
        box-shadow: 1px 1px 4px black;

  

        label {
            display: flex;
        }

        input {
            margin: 4px 40px 25px 0;
            height: 20px;
            width: 300px;
        }

    }

}