<div class="footer">

<div class="yellow_tag">
	<i class="fas fa-briefcase"></i>
	<h3>OnEmploi.com</h3>
</div>


	<div class="location_agence">
		<h4>Agence pour emploi</h4>
		<p>15 rue Pasderue</p>
		<p>HH-666 GHOST TOWN</p>
	</div>


	<div class="network_agence">
		<p>
			<i class="fab fa-twitter-square" title="nous suivre sur Twitter"></i>
		</p>
		<p>
			<i class="fab fa-linkedin" title="nous suivre sur Linkedin"></i>
		</p>
		<p>
			<i class="fab fa-viadeo-square" title="nous suivre sur Viadéo"></i>
		</p>
	</div>

	<div class="ml_agence">
		<div class="ml">
			<p>FAQ</p>
			<p>Nous contacter</p>
		</div>

		<div class="ml">
			<p>Conditions d'utilisation</p>
			<p>Politique de confidentialité</p>
		</div>

	</div>
	{# <p>© OnEmploi Inc.</p> #}
</div>
